{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Newspaper List{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
          <h1>
            Newspaper list
            <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
              Create
            </a>
          </h1>
      </div>
    </div>

    <div class="row justify-space-between py-2">
      <div class="input-group input-group-dynamic">
        <form action="" method="get" class="form-inline">
          {{ search_form|crispy }}
          <input type="submit" value="🔎">
        </form>
      </div>
    </div>


    {% if newspaper_list %}
      <ul>
        {% for newspaper in newspaper_list %}
          <li>
            <a href="{% url "newspaper:newspaper-detail" pk=newspaper.id %} ">{{ newspaper.id }}
              {{ newspaper.title }} ({{ newspaper.topic.name }})</a>

          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no newspapers in taxi</p>
    {% endif %}

    {% include 'includes/pagination.html'%}

  </div>
{% endblock content %}
